.new-user-screen{
    background-color: #000;
    color: #fff;
    padding: 1rem;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;

    .main-heading{
        text-align: center;
    }
}