.transaction-main-screen {
  background-color: #000;
  min-height: 100vh;
  padding: 0.5rem;
}
.transaction-body {
  overflow: hidden;
  padding-top: 8px;
  position: relative;

  background: linear-gradient(160deg, #6353dd, #9e59dd, #ad55d6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  min-height: calc(100vh - 2rem);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.172);
  color: #fff;

  .transaction-section {
    height: 78vh;
    padding: 10px;
  }

  .notransaction-section {
    padding: 15px;
    height: 56vh;

    .items{
        padding: .3rem;
        font-size: 1rem;
    }
  }
  .mb-4 {
    margin-bottom: 4px;
  }

  .body-heading {
    color: #fff;
    padding-bottom: 7px;
    button {
      margin-top: 2px;
      margin-left: 10px;
      border: none;
      padding: 7px 10px;
      background-color: transparent;
      color: #fff;
      font-weight: 600;
      font-size: 0.7rem;
      text-align: center;
      vertical-align: middle;
      width: 33px;
    }
  }

  .items {
    background: transparent;
    color: aliceblue;
    border: none;
    outline: unset;
    border-radius: 10px;
  }
  .items:focus {
    box-shadow: 1px 1px 12px 2px #fff !important;
  }
}

.heading {
    .items {
        background: transparent;
        color: aliceblue;
        border: none;
        outline: unset;
        border-radius: 10px;
      }
      .items:focus {
        box-shadow: 1px 1px 12px 2px #fff !important;
      }
}

.all-transaction {
  overflow-y: scroll;
  height: 100%;
  padding-bottom: 10px;
  color: #fff;

  .trans.last {
    margin-bottom: 18px;
  }
  .trans {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    border-top: 1px solid #ddd;
    color: #160c54;
    color: #fff;

    button {
      margin-top: 0px;
      border: none;
      padding: 7px 0px;
      background-color: transparent;
      color: #fff;
      font-weight: 600;
      font-size: 0.7rem;
    }

    .wrap {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .items {
        background: transparent;
        color: aliceblue;
        border: none;
        outline: unset;
        border-radius: 10px;
      }
      .items:focus {
        box-shadow: 1px 1px 12px 2px #fff !important;
      }

    .trans-sec {
      text-align: left;
    }

    .trns-icon {
      font-size: 1.2rem;
      margin-right: 10px;
      height: 31px;
      width: 31px;
      border-radius: 50%;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;

      background: rgba(255, 255, 255, 0.05);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 255, 255, 0.3);
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.172);
    }

    .trans-point {
      display: inline-block;
      opacity: .8;
    }
  }
}

.no-transaction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img {
    width: 72%;
  }

  div {
    color: #fff;
  }
}
